[project]
name = "note"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "duckdb",
]

[project.scripts]
note = "main:main"
